<%- include('templates/header') -%>
    <h1 class = "jumbotron text-center">Data Structures</h1>
    <div class="text-center">
        <figure>
            <img src="img/data_structures.png" alt = "Picture of Data Structures"/>
        </figure>
    </div>
    <div>
        <p>Did you know that there are over 700 programming languages in the world? <br>
    
        <p>Even though all of these languages have different syntax and different rules 
        in the end they basically use the same methods to retrieve and store data!</p>
        
        <p>These methods are called <strong>DATA STRUCTURES!</strong></p>    
        
        <p>We will be going over 4 data structures:</p>
        <ul>
            <li>Array</li>
            <li>Linked List</li>
            <li>Stack</li>
            <li>Binary Tree</li>
        </ul>
    </div>
    <small class="text-muted">
        This page was last accessed by <%- data.firstName %>  <%- data.lastName %> on <%- data.date%>
    </small>
<%- include('templates/footer') -%>